body {
  font-size: 16px;
}
h1, .h1 {
  font-size: 45px;
}
h2,
.h2 {
  font-size: 34px;
}
h3, .h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 20px;
}
h5, .h5 {
  font-size: 16px;
}

i.fa {
  margin-right: 0.2rem;
}

dt, dd {
  line-height: 1.5;
}

.curriculum-vitae a {
  color: #666;
}

.bibliography .reference {
  line-height: 1.5;
}
.bibliography>li:not(:last-child) {
  margin-bottom: 1.5rem;
}

.bibliography .well {
  line-height: 1.5;
}